@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */

.display-flex{
    display: flex;
}

.text-color-2{
    color: #424242;
}

.text-color-3{
    color:#727272
}
.text-primary{
    color: #FF900E;
}
.bg-light{
    background-color: rgba(255, 244, 230, 1.00);
}

.btn{
    background-color: #FF900E;
    color: white;
    font-size: 1.25rem;
    font-weight: 600px;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;

}
main{
    max-width: 1400px;
    margin: 0 auto;
}
main>section{
    margin-top: 80px;
}
.all-title{
    font-size: 2.8rem;
    font-weight: 530px;
}

/* nav related */
.navbar{
    justify-content: space-between;
    align-items:center;
}
.brand{
    font-size: 1.5em;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight:500px;
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner img{
    width: 85%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.banner-title{
    font-weight: bold;
    font-size: 4em;
}
/* team section */
.teams{
    align-items: center;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.features{
    max-width: 500px;
    margin-left: 80px;
}
#quick{
    font-size: 500;
}

/* some fact */

.facts-container{
    width: 1400;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.fact-descrip{
    max-width: 540px;
}

/* sponsor */
.our-sponsor{
    width: 1400px;
    margin: 0 auto;
}
.spomsor-company{
    width: 1400px;
    margin: 0 auto;
}
.sponsor{
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
}
.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.sponsor-company img{
    filter: grayscale(100%);
}
/* responsive media query */

@media screen and (max-width: 576px){
    .navbar, .nav-links,.teams{
        flex-direction: column;
    }
    .img-container,
    .facts-container,
    .sponsor-company
    {
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
}